@import "layout.css";
@import "pages/program.css";
@import "pages/seat-matrix.css";
@import "pages/home.css";

/* Remove default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top:100px;
}

main{
    display:flex;
    flex-direction: column;  
    padding:0 100px;
    flex:1;
    
}
h1{
    color: #555454;
}





@media (max-width: 1050px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 75px;
        right: 6%;
        flex-direction: column;
        gap: 0;
        width: 220px;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        display: block;
        padding: 12px;
    }
}
@media (max-width: 910px){
    main{
        padding : 0 20px;
    }
    th, td{
        padding:6px;
    }
} 